.Main {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-auto-rows: 10px;
}
.Main .PrimerP {
  align-self: center;
}
@media (max-width: 3000px) {
  .Main {
    grid-template-rows: repeat(11, 1fr);
  }
  .Main .PrimerP {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .Main .SegundoP {
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .Main .Form {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .Main .Form .FormButton {
    /* Posicionamiento imagen en input */
    margin-left: 90%;
  }
  .Main .MainImagen {
    /* background-color: blue; */
    grid-column-start: 16;
    grid-column-end: 25;
    grid-row-start: 2;
    grid-row-end: 12;
  }
}
@media (max-width: 1150px) {
  .Main .Form .FormButton {
    /* Posicionamiento imagen en input */
    margin-left: 85%;
  }
}
@media (max-width: 768px) {
  .Main {
    grid-template-rows: repeat(8, 1fr);
  }
  .Main .PrimerP {
    grid-column-start: 3;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Main .SegundoP {
    grid-column-start: 3;
    grid-column-end: 25;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .Main .Form {
    grid-column-start: 3;
    grid-column-end: 25;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .Main .Form .FormButton {
    /* Posicionamiento imagen en input */
    margin-left: 90%;
  }
  .Main .MainImagen {
    display: none;
  }
}
@media (max-width: 480px) {
  .Main .Form .FormButton {
    /* Posicionamiento imagen en input */
    margin-left: 85%;
  }
}
@media (max-width: 420px) {
  .Main {
    grid-template-rows: repeat(6, 1fr);
  }
  .Main .PrimerP {
    grid-column-start: 3;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Main .SegundoP {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .Main .Form {
    grid-column-start: 3;
    grid-column-end: 25;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .Main .MainImagen {
    display: none;
  }
}
@media (max-width: 360px) {
  .Main .Form .FormButton {
    /* Posicionamiento imagen en input */
    margin-left: 80%;
  }
}
